# Godot
.godot/
.import/            # carpeta de archivos de import binarios (no recomendable subir)
.export/            # archivos temporales de export
# Keep *.import files (they store import settings) -> do NOT ignore "*.import"

# Mono / C# (si usas)
.mono/
*.csproj
*.sln
*.userprefs

# IDEs / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Builds / temp
bin/
build/
*.log
